<h1>The <%= @restaurant.name %> page</h1>
<br>
<h2>Restaurant Address: <%= @restaurant.address %> </h2>
<br>
<h2>Restaurant category: <%= @restaurant.category %> </h2>
<br>
<h2>Restaurant reviews: <%= @restaurant.reviews %> </h2>
